{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'visually_impairedSettings',
  ]
%}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}
    <div class="visually_impairedSettings__inner">
        <div class="visually_impairedSettings__fsizes visually_impairedSettings__group">
            <div class="visually_impairedSettings__label">{{ size_label }}</div>
            <div class="visually_impairedSettings__items">
                <div class="visually_impairedSettings__fsize visually_impairedSettings__item -small js-btn-small js-btn-size">A</div>
                <div class="visually_impairedSettings__fsize visually_impairedSettings__item -medium js-btn-medium js-btn-size">A</div>
                <div class="visually_impairedSettings__fsize visually_impairedSettings__item -large js-btn-large js-btn-size">A</div>
            </div>
        </div>
        <div class="visually_impairedSettings__colors visually_impairedSettings__group">
            <div class="visually_impairedSettings__label">{{ color_label }}</div>
            <div class="visually_impairedSettings__items">
                <div class="visually_impairedSettings__color visually_impairedSettings__item -white js-btn-white js-btn-color">A</div>
                <div class="visually_impairedSettings__color visually_impairedSettings__item -dark js-btn-dark js-btn-color">A</div>
                <div class="visually_impairedSettings__color visually_impairedSettings__item -blue js-btn-blue js-btn-color">A</div>
            </div>
        </div>
        <div class="visually_impairedSettings__images visually_impairedSettings__group">
            <div class="visually_impairedSettings__label">{{ images_label }}</div>
            <div class="visually_impairedSettings__items">
                <div class="visually_impairedSettings__image visually_impairedSettings__item -all js-btn-all js-btn-image">All</div>
                <div class="visually_impairedSettings__image visually_impairedSettings__item -bw js-btn-bw js-btn-image">BW</div>
                <div class="visually_impairedSettings__image visually_impairedSettings__item -alt js-btn-alt js-btn-image">ALT</div>
                <div class="visually_impairedSettings__image visually_impairedSettings__item -none js-btn-none js-btn-image">NONE</div>
            </div>
        </div>  
    </div>
</div>

